@model Todd.Domain.Calendar

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Calendar</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CalendarId)

        <div class="form-group">
            @Html.LabelFor(model => model.CalendarName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CalendarName)
                @Html.ValidationMessageFor(model => model.CalendarName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CalendarTypeId, "CalendarTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CalendarTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.CalendarTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreated)
                @Html.ValidationMessageFor(model => model.DateCreated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedByUserId, "CreatedByUserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedByUserId", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedByUserId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
